
body {
    background-color:pink;
    font-family:"Time New Roman";
    color: #433;
    margin: 0;
    padding: 20xp;

}


h1 {
    color: blue;
    font-family:"Pacifico", cursive;
    font-size: 48xp;
    margin-top: 100xp;
    text-align: center;
}


