
body {
    background-color:pink;
    font-family:"Time New Roman";
    color: #433;
    margin: 0;
    padding: 20xp;

}

.titulop{
    color:blue;
    font-family:"Pacifico", cursive;
    font-size: 48xp;
    margin-top: 100xp;
    text-align: center;
}

.tablas,th,td {
    border : 2px solid black;  
}


.niveles{
    list-style-type:lower-roman;
    color:rgb(255, 0, 251);
}

.comentario{
    font-family:
    color:
}
.derechos{
    text-align:center;
    color: rgb(19, 16, 16);
}

